mirror_path="elpa-mirror"
mirror_host="github.com"
mirror_owner="balaramadurai"
mirror_repo="elpa-mirror"
access_login="$ACCESS_LOGIN"
access_token="$ACCESS_TOKEN"
commit_name="Bala Ramadurai"
commit_email="bala@balaramadurai.net"
elpa_clone_path="elpa-clone"

function git_config_hook {
  git config commit.gpgsign false
}
